body {
    background: skyblue;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.gradiant {
    background:linear-gradient(to right, rgb(16, 54, 70), skyblue);
}

.swirl {
  width: 100vw;
  height: 100vh;
  background: conic-gradient(red, yellow, lime, cyan, blue, magenta, red);
    animation: spin 10s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}    


.moving-gradient {

}

.no.effect {
    background-color: skyblue;
}

.header-style {
   position: relative;
   background: #f8f9fa;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 75px;
}

.header-style nav div {
    display: flex;
    gap: 20px;
}

/* svg {
    display: block;
    height: 100%;
    width: 100%;
}

footer {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: visible;
    
}

footer svg {
    display: block;
} */

#search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#displayText {
    margin-bottom: 10px;
}

#searchEnter, #searchclick {
    border-radius: 10px;
}

#searchEnter {
    margin: 0 0 10px 0;
}